.fs-12 {
  font-style: 12px;
}

.fs-14 {
  font-style: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-20 {
  font-style: 20px;
}

.fs-24 {
  font-style: 24px;
}

.fs-36 {
  font-style: 36px;
}

.fs-42 {
  font-style: 42px;
}

.bold {
  font-weight: bold;
}

.thin {
  font-weight: 300;
}

.italic {
  font-style: italic;
}

.text-color-primary {
  color: $primary;
}

.text-color-succes {
  color: $succes;
}

.text-color-danger {
  color: $danger;
}

.text-color-warning {
  color: $warning;
}

.text-color-dark {
  color: $dark;
}